@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Palette+Mosaic&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.main {
    margin-top: 3rem;
    padding: 2rem;
    padding-top: 4rem;
}

.bodyA{
    background: url("../pictures/contactbg.png");
    background-attachment: fixed;
}

.bodyA h1, h2, h3, h4, p, ul{
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}

.bodyA h1{
    text-shadow: 4px 3px 5px black, 2px 1px 1px black;
}

.blueBoxInfoLeft{
    display: inline;
    float: left;
    justify-content: space-between;
    width: 40%;
    background-color: #002043;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 2%;
}
.blueBoxInfoRight{
    display: inline;
    float: right;
    margin-top: 10%;
    justify-content: space-between;
    width: 40%;
    background-color: #002043;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 2%;
    padding-left: 4.5%;
}

.textLeft{
    float: left;
}

.textRight{
    float: right;
}


blueBoxLeft{
   display: inline;
    float: left;
}
blueBoxRight{
   display: inline;
    float: right;
}

header{
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #002043;
}

.background{
    background-color: #002043;
    width: 100%;
    height: 500px;
}

.img-clickable{
    margin-right: auto;
}

.logo{
    height: 4rem;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 1.25rem;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
    color: whitesmoke;

}

.nav-links li a:hover{
    color: rgba(0, 173 ,181 , 0.8);
}

#bNav button{
    background: #04bd70;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
}

#bNav button:hover{
    background: rgba(0, 173 ,181 , 0.8);
}