<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--viewport meta gør så at hjemmesiden passer til både laptops, mobiler og tablets-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="nav.css">
    <title>About</title>

</head>
<body>
    <header>
        <span class="img-clickable">
            <a href="index.html">
                <img src="/pictures/Logo%20med%20tekst.png" alt="main-logo" class="logo"/>
            </a>
        </span>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Hjem</a></li>
                <li><a href="household.html">Husstand</a></li>
                <li><a href="commercial.html">Kommerciel</a></li>
                <li><a href="about.html">Hvem er vi?</a></li>
            </ul>
        </nav>
        <a id ="bNav" href="contact.html"><button>Kontakt os</button></a>
    </header>
<br>
    <div class="main">
        <h1>Hvem er vi?</h1>
        <br>
            <p>Vi er fire unge mænd med en pasion for miljøet og et håb om en bedre fremtid.<br>
                Målet med denne hjemmesides er at den skal bruges som et redskab i kampen mod madspild.<br>
                Vi håber at kunne inspirere danskerne til at leve mere miljøbevidst, ved at give dem den nødvendige vejledning her på vores hjemmeside.</p>
        <br><br>
            <h2>Mød os:</h2>
    </div>
        <br>
        <div class="background">
            <div class="boxLeft">
                <h3>Mads</h3>
                <br>
                <img src="/pictures/Mads.jpg" alt="portrait"/>
                <h4>Tre hurtige:</h4>
                <br><br>
                <ul>
                    <li>Flot</li>
                    <li>karismatisk</li>
                    <li>Dårlig skuespiller</li>
                </ul>
                <br><br><br><br>
                <h4>Citat:</h4>
                <br><br>
                <p><i>"We can't help everyone, but everyone can help someone."</i></p>
            </div>
                <div class="boxRight">
                    <h3>Kasper</h3>
                    <br>
                    <img src="/pictures/Kasper.jpg" alt="portrait"/>
                    <h4>Tre hurtige:</h4>
                    <br><br>
                    <ul>
                        <li>Hård negl</li>
                        <li>Modstandsdygtig</li>
                        <li>God til at slette sine spor</li>
                    </ul>
                    <br><br><br><br>
                    <h4>Citat:</h4>
                    <br><br>
                    <p><i>"The finest steel has to go through the hottest fire."</i></p>
                </div>
            </div>
        <br><br><br><br><br><br>

        <div class="background">
            <div class="boxLeft">
            <h3>Emil</h3>
                <br>
                <img src="/pictures/Emil.jpg" alt="portrait"/>
                <h4>Tre hurtige:</h4>
                <br><br>
                <ul>
                    <li>Lækkert hår</li>
                    <li>Imødekommende</li>
                    <li>Kendt fra historietimerne</li>
                </ul>
                <br><br><br><br>
                <h4>Citat:</h4>
                <br><br>
                <p><i>“Let us not emphasize all on which we differ but all we have in common. Let us consider not what we fear separately but what we share together.”</i></p>
            </div>
            <div class="boxRight">
            <h3>Xenius</h3>
                <br>
                <img src="/pictures/xenius.jpg" alt="portrait"/>
                <h4>Tre hurtige:</h4>
                <br><br>
                <ul>
                    <li>Stålfast</li>
                    <li>Tidligere nedriver</li>
                    <li>Fællesskabsorienteret</li>
                </ul>
                <br><br><br><br>
                <h4>Citat:</h4>
                <br><br>
                <p><i>“Америке нужна своя перестройка"</i></p>
            </div>
        </div>


</body>
</html>