<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--viewport meta gør så at hjemmesiden passer til både laptops, mobiler og tablets-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">

</head>
<body>

<div class="topnav">
    <a href="index.html">Home</a>
    <a href="PrivatePerson.html">Household</a>
    <a href="company.html">Commercial</a>
    <a href="about.html">About</a>
</div>
<br>
<h1>About page</h1>

</body>
</html>