<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="../../stylesheets/bottoms.css">
    <link rel="stylesheet" href="../../stylesheets/nav.css">
    <script type="text/javascript" src ="../../javascripts/Resultat.js"></script>
    <style>
        img{ border-radius: 50px;}
        body {
            background-image: url("/pictures/commercialbg.png");
            background-repeat: no-repeat;
            background-attachment: fixed;}
    </style>
    <style>
        img{
            border-radius: 8px;
        }
    </style>
</head>
    <body>
    <header>
        <span class="img-clickable">
            <a href="index.html">
                <img src="/pictures/Logo%20med%20tekst.png" alt="main-logo" class="logo"/>
            </a>
        </span>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Hjem</a></li>
                <li><a href="household.html">Husstand</a></li>
                <li><a href="commercial.html">Kommerciel</a></li>
                <li><a href="about.html">Hvem er vi?</a></li>
            </ul>
        </nav>
        <a id ="bNav" href="contact.html"><button>Kontakt os</button></a>
    </header>
    <br>
    <br>
        <div class = "buttonWrapper">
        <div class = "textButton">
            <p>Indtast antal personer i jeres organisation for at udregne jeres madspild</p>
        </div>
            <div class = "button1">
                    <input id = "result" type = "number"/>
                <div class = "button2">
                    <input id = "btn" type="button" value ="tryk her"/>
                </div>
            </div>
        </div>
    <div class = "resultBox">
        <div class = "resultBoxText">
            <h4>MADSPILD</h4>
            <p>pr. dag i DKK:  </p> <p id = "dagDKK"></p>
            <p>pr. år i DKK: </p> <p id = "yearDKK"></p>
            <p>pr. dag i KG: </p> <p id = "dagKG"></p>
            <p>pr. år i KG: </p> <p id = "yearKG"></p>
            </div>
        </div>
    <div class = "titleWrapper">
        <h2>Tips til at undgå <br> madspild i organisationen: </h2>
    </div>
        <div class = "tekstWrapperCommercial">
            <div class = "backgroundCommercial">
            <h3>Refood: en løsning mod madspild for organisationer</h3>
            <br>
            <img src = "/pictures/refoodLogo.png" alt = "Refood logo" width="300px" height="250px"/>
            <br>
            <p><a href="https://www.refood.dk/">Refood</a> indsamler og genanvender madaffald, brugt fritureolie og stegefedt. Det er en vigtig agenda for dem,
                da alt affald indeholder ressourcer, vi kan (og skal) udnytte og genbruges til gavn for miljøet.
                Helt konkret bliver madaffaldet, fedtet og fritureolie genanvendt til grøn energi, næringsrig gødning og biodiesel.
                Et sikkert værdifuldt og bæredygtigt alternativ</p>
            <br>
            <h3>Refood kan gøre brug af dit madaffald!</h3>
            <br>
            <img src="/pictures/commercialfoodwaste.jpg" alt  = "commercial waste" width="300px" height="200px">
            <br>
            <p>På under én uge er du i gang med at sortere dit madaffald til bæredygtig energi og gødning –
                og meget hurtigt vil du reducere dit madaffald betydeligt. Det er meget effektfuldt at se,
                hvad der bliver sorteret i madaffaldsbeholderen i stedet for at smide alt affaldet i én stor samlet container.
                Du opdager dit affald og udnytter det på nye måder -
                det betyder mindre madaffald og en tilhørende bedre bundlinje. </p>
            <br>
            <p><a href="https://www.refood.dk/afhentning-madaffald">Klik her</a> for at se hvor nemt det er at komme igang!</p>
            <br>
            <h3>Refood kan gøre brug af dit brugte firtureolie!</h3>
            <br>
            <img src = "/pictures/oilwastecommercial.jpg" alt = "oil waste" width="300px" height="300px">
            <br>
            <p>Vi gør det nemt for dig og din virksomhed at komme af med det brugte stegefedt og fritureolie.
                Vi genanvender det til biodiesel,
                og på den måde er du med til at tage et fælles ansvar for en bæredygtig fremtid.</p>
            <br>
            <p><a href="https://www.refood.dk/afhentning-fritureolie">Klik her</a> for mere info!</p>
            <br>
            <h3>Hvor meget CO2 kan du spare?</h3>
            <br>
            <img src="/pictures/calculateCO2waste.PNG" alt = "CO2 waste calculator" width = "300px" height = "300px">
            <br>
            <p><a href="https://www.refood.dk/om-daka-refood">Klik her</a> for at komme til deres CO2 beregner</p>
            <br>
            <p>Her kan du nemt se det bæredygtige potentiale i dit madaffald. Deres beregner viser,
                hvor meget varme, gødning og CO2-reduktion madaffaldet bliver til, når det bliver genanvendt.
            </p>
            <p>Du kan gøre brug af vores beregner til højre, for at finde ud af hvor mange KG madaffald i har</p>
            </div>
        </div>
    </body>
</html>
