<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../../stylesheets/contact.css">
</head>

<header>
        <span class="img-clickable">
            <a href="index.html">
                <img src="/pictures/Logo%20med%20tekst.png" alt="main-logo" class="logo"/>
            </a>
        </span>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">Hjem</a></li>
            <li><a href="household.html">Husstand</a></li>
            <li><a href="commercial.html">Kommerciel</a></li>
            <li><a href="about.html">Hvem er vi?</a></li>
        </ul>
    </nav>
    <a id ="bNav" href="contact.html"><button>Kontakt os</button></a>
</header>
    <body class="bodyA">

    <div class="main">
        <h1 style="text-align: center">Kontakt os</h1>
    </div>
        <br>
        <div class="blueBoxInfoLeft">
            <div class="blueBoxLeft">
            <ul style="display: inline; float: left;">
                <lil><h2>Telefonnummer:</h2></lil>
                    <ul>
                        <li>HR-afdelingen:<br>0045 11 22 33 04</li>
                        <br>
                        <li>Salgsafdelingen:<br>0045 11 22 33 03</li>
                        <br>
                        <li>Økonomiafdelingen:<br>0045 11 22 33 02</li>
                        <br>
                        <li>Formand:<br>0045 11 22 33 01</li>
                    </ul>
            </ul>
                </div>
                <div class="blueBoxRight">
                    <ul style="float: right; display: inline;">
                <lil><h2>Email: </h2></lil>
                    <ul>
                        <li>HR-afdelingen:<br>HR@dkModMadspild.dk</li>
                        <br>
                        <li>Salgsafdelingen:<br>Salg@dkModMadspild.dk</li>
                        <br>
                        <li>Økonomiafdelingen:<br>Økonomi@dkModMadspild.dk</li>
                        <br>
                        <li>Formand:<br>Xenius@dkModMadspild.dk</li>
                    </ul>
            </ul>
            </div>
        </div>

    <div class="blueBoxInfoRight">
        <h2 id="textOverBox">Find os her:</h2>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6004.356834720349!2d12.56772727175309!3d55.687378625086815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652531b429e531d%3A0x52359c3345281b3c!2sRosenborg%20Slot!5e0!3m2!1sda!2sdk!4v1649145640466!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


</body>

</html>