<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="../../stylesheets/bottoms.css">
    <link rel="stylesheet" href="../../stylesheets/nav.css">
    <link rel="stylesheet" href="../../stylesheets/index.css">
    <script type = "text/javascript" src ="../../javascripts/Resultat.js"></script>
    <style>
        img{ border-radius: 50px;}
        body {
            background-image: url("/pictures/householdbg.png");
            background-repeat: no-repeat;
            background-attachment: fixed;}
    </style>

</head>
<body>
<header>
        <span class="img-clickable">
            <a href="index.html">
                <img src="/pictures/Logo%20med%20tekst.png" alt="main-logo" class="logo"/>
            </a>
        </span>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">Hjem</a></li>
            <li><a href="household.html">Husstand</a></li>
            <li><a href="commercial.html">Kommerciel</a></li>
            <li><a href="about.html">Hvem er vi?</a></li>
        </ul>
    </nav>
    <a id ="bNav" href="contact.html"><button>Kontakt os</button></a>
</header>
<br>

<div class = "buttonWrapper">
    <div class = "textButton">
        <p>Indtast antal personer i jeres organisation for at udregne jeres madspild</p>
    </div>
    <div class = "button1">
        <input id = "result" type = "number"/>
        <div class = "button2">
            <input id = "btn" type="button" value ="tryk her"/>
        </div>
    </div>
</div>
<div class = "resultBox">
    <div class = "resultBoxText">
        <h4>MADSPILD</h4>
        <p>pr. dag i DKK:  </p> <p id = "dagDKK">-</p>
        <p>pr. år i DKK: </p> <p id = "yearDKK">-</p>
        <p>pr. dag i KG: </p> <p id = "dagKG">-</p>
        <p>pr. år i KG: </p> <p id = "yearKG">-</p>
    </div>
</div>
<div class = "tekstWrapperHousehold">
    <h2>Tips til at undgå madspild i hjemmet:</h2>
    <br>
    <ul>
        <div class = "boxRight1">
        <img src="/pictures/Madrester.jpg" alt="portrait" width="400" height="300"/>
        <h3>1: HAV EN RESTDAG</h3>
        <h4>Sammenkogte retter og supper er ideelle til komme i bund i køleskabet.
            Hav en ugentlig dag, hvor du laver en af dine bedste tøm køleskabet-retter.</h4>
            <br>
            <img src="/pictures/madlager1.jpg" alt="portrait" width="400" height="300" style ="margin-top: 55px"/>
            <br>

            <h3>3: OPBYG BASISLAGER</h3>
            <h4>Hav et godt lager af konserves, krydderier og tørvarer.
                Bønner, færdigsovse eller flåede tomater er ideelle værktøjer til at lave rester om til nye retter.</h4>
            <br>

            <img src="../../pictures/kølernPNG.PNG" height="300" width="400"style ="margin-top: 30px"/>
            <br>

            <h3>6: INDRET DIT KØLESKAB</h3>
            <h4>Det, du ser først, bruger du først. Sørg derfor for at sætte varer, der er ved at løbe ud, forrest i dit køleskab. Det er lige så enkelt, som det er effektivt</h4>
            <br>


            <img src="../../pictures/flertyks.PNG" height="300" width="400" style ="margin-top: 22px"/>
            <br>

            <h3>8: UNDGÅ FLERSTYKSFÆLDEN</h3>
            <h4>Hvis der er tilbud på to, og du alligevel smider halvdelen ud – hvor meget har du så sparet? Køb det, du spiser. Ikke det, der er tilbud på</h4>
            <br>

            <img src="../../pictures/rødløg.PNG" height="300" width="400" style ="margin-top: 30px"/>
            <br>

            <h3>10: LÆR AT SYLTE</h3>
            <h4>Din mormor havde ret. Syltning er en god måde at give grøntsagerne ekstra liv. Lær at lave en sød og sur syltelage, og kom i gang med krukkerne.</h4>

        </div>
        <div class = "boxLeft1">
        <img src="/pictures/tommave.jpg" alt="portrait" width="400" height="300" />

        <br>
        <h3>2: KØB IKKE IND PÅ TOM MAVE</h3>
        <h4>Vi køber for meget, når vi er sultne. Køb ind efter et måltid eller spis et æble, inden du køber ind.
            Så fylder du kun kurven med det, du har brug for.</h4>
            <br>
            <img src="../../pictures/Udklip.PNG"  width="400" height="300"/>
            <br>
            <h3>5: FRYS GRØNT</h3>
            <h4>Husk, at du kan fryse grøntsager. Næringsværdien bevares og hvis du skærer ud i stykker, er de lette at komme direkte i resteretter.</h4>
            <br>

            <img src="../../pictures/genopliv grøn.PNG" height=300" width="400"/>
            <br>

            <h3>7: GENOPLIV GRØNTSAGERNE</h3>
            <h4>Lev dine grøntsager op med koldt vand. Tre timer i koldt vand i køleskabet kan gøre en slatten gulerod klar til kamp igen.</h4>
            <br>

            <<img src="../../pictures/bags.PNG" height="300" width="400" />
            <br>

            <h3>9: HAV GODE BØTTER OG POSER</h3>
            <h4>Med plasticbøtter og fryseposer på lager, er det nemmere at gemme rester. Mange retter er alligevel bedst dagen derpå.</h4>
        </div>

    </ul>
</div>
</body>
</html>