<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="index.css">
        <script type="text/javascript" src="index.js"></script>
    </head>
    <body>
        <div class="headline">
            <h0>DANMARK MOD MADSPILD</h0>
            <br>
        </div>
        <div class="calc">
            <p1 id="waste">21</p1><p1> kg </p1>
            <br>
            <p0>mad er blevet spildt mens du har været på denne side</p0>
        </div>
        <div class="info">
            <p0>Hvert år bliver der smidt omtrent 730.000 tons fødevarer ud i Danmark</p0>
            <br><br>
            <p0>Det er 61.000 tons om måneden</p0>
            <br><br>
            <p0>14.000 tons om ugen</p0>
            <br><br>
            <p0>2.000 tons om dagen</p0>
            <br><br>
            <p0>80 tons i timen</p0>
            <br><br>
            <p0>Over 1 ton i minuttet</p0>
        </div>
    </body>
</html>