<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="index.css">
    </head>
    <body>
        <h0>DANMARK MOD MADSPILD</h0>
        <br>
        <div>
            <p0>Al brødteksten kommer ind her</p0>
            <br>
            <p0>Al brødteksten kommer ind her</p0>
            <br>
            <p0>Al brødteksten kommer ind her</p0>
            <br>
            <p0>Al brødteksten kommer ind her</p0>
            <br>
            <p0>Al brødteksten kommer ind her</p0>
            <br>
            <p0>Al brødteksten kommer ind her</p0>
        </div>
    </body>
</html>