<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="bottoms.css">
</head>
<body>

<h1>Household page</h1>
<div class = "wrapper">
    <div class = "button1">
        <input type="text" name="personer" placeholder="Antal personer">
   <!-- <input type = "submit" name = "forbrug" placeholder= "Se mit forbrug">!-->
    <input type="button" onclick="alert('Hello World!')" value="Se mit forbrug">
        </div>
</div>
</body>
</html>